.transaction-container {
    border: 2px solid black;
    padding: 10px;
    margin: 10px auto;
    background-color: antiquewhite;
    border-radius: 10px;
    max-width: 500px;
}

.transaction-list-header {
    display: flex;
    border: 2px solid black;
    padding: 10px;
}

.transaction-list-component {
    border: 2px solid black;
    padding: 10px;
}

.transaction-preview {
    display: flex; 
}

.transaction-list-component:hover {
    cursor: pointer; 
}

.transaction-list-component:nth-child(odd) { background: rgb(238, 238, 238); }
.transaction-list-component:nth-child(even) { background: #26413c8e }

.transaction-list {
    margin: 0 10px;
}

.transaction-date {
    width: 150px;
}

.transaction-description {
    width: 400px;
}

.transaction-amount {
    width: 150px;
}

.transaction-category {
    width: 150px;
}

.page-selection {
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
}

.transaction-date-selection {
    display: flex;
    justify-content: center;
}
.transaction-date-selection > button {
    background-color: transparent;
    border: none;
    font-weight:bold;
    font-size: larger
}

.transaction-date-selection > button {
    color: #F9AB55
}

.month-selector {
    padding: 20px;
    font-size: 1.3rem; 
    border: 2px solid #F9AB55; 
    margin: 2px; 
}

.page-selection, .transaction-date-selection, .month-selector {
    color: #F9AB55; 
}